
/* Модальное окно */

.btn {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
    outline: 2px solid transparent;
    outline-offset: 3px;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
  }
  
  .btn:hover {
    background-color: #fff;
    color: #000;
  }
  
  .btn:focus-visible {
    outline-color: yellow;
  }

.modal{
    position:fixed;
    inset:0;           /*https://developer.mozilla.org/ru/docs/Web/CSS/inset*/
    background-color: rgba(0, 0, 0, 0.5);   /*последний параметр - прозрачность*/
    /* display: flex; */
    cursor:pointer;
    overflow-y: auto;
    padding: 30px;
    display: none;
    /* 
    writing-mode: vertical-lr; 
    opacity: 0.5;
    */
    }
    
    .modal__main{
        position:relative;
        max-width: 600px;
        margin:auto;
        background-color: azure;
        color: #000;
        border-radius: 16px;
        padding: 30px;
        cursor: default;
    
    }
    
    .modal__title{
        margin-bottom: 30px;
    }
    
    .modal__close{
        background-color:transparent;
        border:none;
        cursor:pointer;
        font-size: 22px;
        position: absolute;
        top: 10px;
        right:10px;
        outline:1px solid transparent;
        outline-offset: 3px;
        transition: outline-color .15s ease-in-out;
        border-radius: 3px;
        padding: 0;
        text-align: center;
        display: block;
        width: 30px;
        height: 30px;
    
    }
    
    .modal__close:focus-visible{
    outline-color: green;
    }

